<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.depuisletemps.mynews">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_mynews_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controllers.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
            <activity android:name=".controllers.activities.NotificationsActivity"
                android:label="Notifications"
                android:parentActivityName=".controllers.activities.MainActivity">
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".controllers.activities.MainActivity" />
            </activity>
            <activity android:name=".controllers.activities.SearchArticlesActivity"
                android:label="Search Articles"
                android:parentActivityName=".controllers.activities.MainActivity">
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".controllers.activities.MainActivity" />
            </activity>
            <activity android:name=".controllers.activities.SearchArticlesResultActivity"
                android:label="Search Result"
                android:parentActivityName=".controllers.activities.SearchArticlesActivity">
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".controllers.activities.SearchArticlesActivity" />
            </activity>
            <activity
                android:name=".controllers.activities.AboutActivity"
                android:label="About"
                android:parentActivityName=".controllers.activities.MainActivity">
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".controllers.activities.MainActivity" />
            </activity>
            <activity
                android:name=".controllers.activities.HelpActivity"
                android:label="Help"
                android:parentActivityName=".controllers.activities.MainActivity">
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".controllers.activities.MainActivity" />
            </activity>
        <activity android:name=".controllers.activities.ArticleActivity"
            android:label="Article"
            android:parentActivityName=".controllers.activities.ArticleActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".controllers.activities.SearchArticlesActivity" />
        </activity>

        <receiver android:name=".utils.AlertReceiver"/>
    </application>

</manifest>